alembic==1.9.0
anyio==3.6.2
arrow==1.2.3
attrs==22.2.0
binaryornot==0.4.4
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==2.1.1
click==8.1.3
cookiecutter==1.7.3
cryptography==38.0.4
dnspython==2.2.1
ecdsa==0.18.0
email-validator==1.3.0
exceptiongroup==1.1.0
fastapi==0.88.0
fastapi-azure-auth==3.5.1
greenlet==2.0.1
h11==0.14.0
httpcore==0.16.3
httpx==0.23.1
idna==3.4
importlib-metadata==5.2.0
importlib-resources==5.10.1
iniconfig==1.1.1
Jinja2==3.1.2
jinja2-time==0.2.0
loguru==0.6.0
Mako==1.2.4
manage-fastapi==1.1.1
MarkupSafe==2.1.1
packaging==22.0
pluggy==1.0.0
poyo==0.5.0
prompt-toolkit==3.0.36
psycopg2-binary==2.9.5
pyasn1==0.4.8
pycparser==2.21
pydantic==1.10.2
PyMySQL==1.0.2
pytest==7.2.0
python-dateutil==2.8.2
python-dotenv==0.21.0
python-jose==3.3.0
python-slugify==7.0.0
questionary==1.10.0
requests==2.28.1
rfc3986==1.5.0
rsa==4.9
six==1.16.0
sniffio==1.3.0
SQLAlchemy==1.4.45
starlette==0.22.0
text-unidecode==1.3
tomli==2.0.1
typer==0.4.2
typing_extensions==4.4.0
urllib3==1.26.13
uvicorn==0.20.0
wcwidth==0.2.5
zipp==3.11.0
